.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 0;
  overflow: hidden;
}

.sidebarLeft {
  border-right-width: 0.5px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
}

.sidebarRight {
  border-left-width: 0.5px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
}

.sidebarGhost {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  border-bottom: 0.5px solid #dfdfdf;
  background-color: #ffffff;
}
